<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 28px; height: 77px"> 

# Anime Recommender System 
### *Data Wrangling & Cleaning*
---

### Reading in Imports

In [49]:
import numpy as np
import pandas as pd

### Reading in Data

In [50]:
rating = pd.read_csv('../datasets/rating.csv.zip')
rating.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

In [51]:
anime = pd.read_csv('../datasets/anime.csv')
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

### Created Merged Data Frame

In [52]:
df = pd.merge(rating, anime, on='anime_id', how='inner')
df.head()

,user_id,anime_id,rating_x,name,genre,type,episodes,rating_y,members
0,1,20,-1,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
1,3,20,8,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
2,5,20,6,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
3,6,20,-1,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297
4,10,20,-1,Naruto,"Action, Comedy, Martial Arts, Shounen, Super P...",TV,220,7.81,683297

### Drop Unnecessary Columns

In [53]:
df.drop(columns = ['genre', 'type', 'members', 'episodes', 'rating_y'], inplace=True)
df.head()

   user_id  anime_id  rating_x    name
0        1        20        -1  Naruto
1        3        20         8  Naruto
2        5        20         6  Naruto
3        6        20        -1  Naruto
4       10        20        -1  Naruto

### Rename Rating Column

In [54]:
df.rename(columns = {'rating_x': 'rating'}, inplace=True)

### Drop Ratings Below 0

In [55]:
df = df[df['rating'] >= 0]

### Check for Missing Data

In [56]:
df.isna().sum()

user_id     0
anime_id    0
rating      0
name        0
dtype: int64

### Export Clean Dataframe

In [57]:
df.to_csv('../datasets/clean.csv')